In [153]:
# Q-1. Create a database called temp_db. Open a cursor to this newly created database.

import sqlite3

con = sqlite3.connect('temp_db.db')
cursor = con.cursor()

In [154]:
# Q-2. In the database temp_db created in Q.No.1, create a table called emp with the attributes empno, ename, salary and deptno

def create_table():
    con = sqlite3.connect('temp_db.db')
    cur = con.cursor()
    cur.execute('CREATE TABLE IF NOT EXISTS employ(eno INTEGER,enam TEXT,sal REAL,dno INTEGER)')
    con.commit()
    con.close()

In [155]:
create_table()

In [156]:
# Q-3. In the emp table created in Q.No. 2, insert any five records.

def inserta(eno,enam,sal,dno):
    con = sqlite3.connect('temp_db.db')
    cur = con.cursor()
    cur.execute('INSERT INTO employ values(?,?,?,?)',(eno,enam,sal,dno,))
    con.commit()
    con.close()

In [157]:
inserta(101,"Akshay",31000,10)
inserta(102,"Sharkukh",35000,10)
inserta(103,"Ranbir",30000,30)
inserta(104,"Salman",29000,20)
inserta(105,"Hritik",37000,40)

In [158]:
# Q-4. From the emp table, display all the records.

def display():
    con = sqlite3.connect('temp_db.db')
    cur = con.cursor()
    cur.execute('SELECT * FROM employ')
    rows = cur.fetchall()
    con.close()
    return rows

In [159]:
display()

[(101, 'Akshay', 31000.0, 10),
 (102, 'Sharkukh', 35000.0, 10),
 (103, 'Ranbir', 30000.0, 30),
 (104, 'Salman', 29000.0, 20),
 (105, 'Hritik', 37000.0, 40)]

In [160]:
# Q-5. From the emp table, display the records of only those employees whose salary is greater than 15000 and who belong to deptno 10

def display2(dno,sal):
    con = sqlite3.connect('temp_db.db')
    cur = con.cursor()
    cur.execute("SELECT * FROM employ where dno = ? and sal > ?",(dno,sal,))
    rows = cur.fetchall()
    con.close()
    return rows

In [161]:
display2(10,15000)

[(101, 'Akshay', 31000.0, 10), (102, 'Sharkukh', 35000.0, 10)]

In [162]:
display()

[(101, 'Akshay', 31000.0, 10),
 (102, 'Sharkukh', 35000.0, 10),
 (103, 'Ranbir', 30000.0, 30),
 (104, 'Salman', 29000.0, 20),
 (105, 'Hritik', 37000.0, 40)]

In [164]:
# Q-6. From the emp table, display the records of only those employees whose salary lies between 20000 and 25000 and who do not belong to the deptno 10

def display3(n1,n2,dno):
    con = sqlite3.connect('temp_db.db')
    cur = con.cursor()
    cur.execute("SELECT * FROM employ where sal > ? and sal < ? and dno != ?",(n1,n2,dno,))
    rows = cur.fetchall()
    con.close()
    return rows

In [165]:
display3(20000,25000,10)

[]

In [199]:
# Q-7. From the emp table, display the records of only those employees whose name begins with S.
# Will check name starts with "S"

def display4():
    con = sqlite3.connect('temp_db.db')
    cur = con.cursor()
    cur.execute("SELECT * FROM employ where enam LIKE 'S%'")
    rows = cur.fetchall()
    con.close()
    return rows

In [200]:
display4()

[(102, 'Sharkukh', 35000.0, 10), (104, 'Salman', 29000.0, 20)]

In [201]:
# Q-8. In the emp table, delete the records of those employees who belong to deptno 30

def delete1(dno):
    con = sqlite3.connect('temp_db.db')
    cur = con.cursor()
    cur.execute('DELETE FROM employ where dno = ?',(dno,))
    con.commit()
    con.close()

In [202]:
delete1(30)

In [203]:
display()

[(101, 'Akshay', 31000.0, 10),
 (102, 'Sharkukh', 35000.0, 10),
 (104, 'Salman', 29000.0, 20),
 (105, 'Hritik', 37000.0, 40)]

In [207]:
# Q-9. In the emp table, update the salary of an employee by 10 % by accepting the empno from the user.

def update1():
    con = sqlite3.connect('temp_db.db')
    cur = con.cursor()
    cur.execute('UPDATE employ SET sal = ((sal*10)/100) + sal')
    con.commit()
    con.close()

In [208]:
update1()

In [209]:
display()

[(101, 'Akshay', 34100.0, 10),
 (102, 'Sharkukh', 38500.0, 10),
 (104, 'Salman', 31900.0, 20),
 (105, 'Hritik', 40700.0, 40)]

In [210]:
# Q-10. Delete the emp table.

def delete():
    con = sqlite3.connect('temp_db.db')
    cur = con.cursor()
    cur.execute('DELETE FROM employ')
    con.commit()
    con.close()

In [212]:
delete()

In [213]:
dispaly()

NameError: name 'dispaly' is not defined